[user]
	email = matt@mattmeyers.dev
	name = Matt Meyers
[core]
	editor = nvim

[alias]
    a = add
    c = commit
    s = status
    p = pull
    co = checkout
    us = restore --staged
    wtl = worktree list
    wta = worktree add
    wtr = worktree remove
